body
{
    background-color: rgb(3, 15, 11);
}
#wrapper
{
    width: 1000px;
    height: 550px;
    margin: auto;
    background-color: rgb(139, 139, 201);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(13, 4, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    border: 3px solid rgb(121, 9, 52);
}
h1
{
    color: rgb(92, 4, 22);
}
#boxTop
{
    margin: auto;
    width: 400px;
    height: 50px;
    background-color: rgb(65, 30, 5);
    color: white;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 25px;

}

#boxData
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    width: 400px;
    height: 70px;
  
}

#boxBottom
{
    margin: auto;
    width: 400px;
    height: 70px;
    background-color: rgb(65, 31, 8);
    color: bisque;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50%;
    

}